@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$clr-bg-primary: #264653;
$clr-bg-secondary-light: #e76f51;
$clr-text: #FDFFFC;
$clr-accent: #2a9d8f;
$clr-accent2: #e9c46a;
$clr-accent-dark: #f4a261;
$font: 'Teko', sans-serif;
$font-main: 'Titillium Web', sans-serif;
$font-size-md: 1em;
$font-size-lg: 1.3em;
$font-size-sm: 0.8em;

@mixin uS {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}


body {
    width: 100%;
    height: 100vh;
    background: $clr-bg-primary;
    font-family: $font-main;
    color: $clr-text;
    display: grid;
    grid-template-rows: 10% 85% 5%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: center;
    background: $clr-bg-primary;
    color: #000;
    font-size: 1.5em;
    @include uS();
    padding: 1em 1em;
    h1 {
        margin-right: 3em;
        color: $clr-accent2;
        font-family: $font;
        letter-spacing: .3em;
    }

    h3 {
        @include uS();
    }

    nav {
        .tabs {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 3em;
            border-radius: 1rem;
            position: relative;
            color: $clr-accent2;
            font-family: $font;
            a {
                text-decoration: none;
                border: 3px solid $clr-accent-dark;
                padding: .2em .5em;
                background: transparent;
                color: $clr-text;
                cursor: pointer;
                transition: 250ms border-radius ease-in;
                &:hover{
                    border: 3px dashed #ff8191;
                    border-radius: 10px;
                }
            }
        }
    }

}

footer {
    padding: 0 2em;
    position: relative;
    h3 {
        position: absolute;
        right: 2em;
        bottom: 2em;
        font-size: small;
        cursor: default;
        a {
            text-decoration: none;
            cursor: pointer;
            color: $clr-text;
            &:hover {
                opacity: .9;
            }
        }
    }
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1300px;
    text-transform: uppercase;
    font-size: 1em;
    color: #000;

    section.standings_section {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        font-weight: bold;
        gap: .2em;
        
        .headings {
            background: $clr-accent-dark;
            font-size: .9em;
            text-align: center;
            color: $clr-text;
        }

        div {
            display: grid;
            grid-template-columns: .2fr 1fr .2fr .2fr .2fr .2fr .2fr;
            gap: 1em;
            width: 100%;
            color: #000;
            background: $clr-accent2;
            padding: .2em;

            span {
                text-align: center;
            }
            span:first-of-type {
                border-right: 1px solid white;
            }
            span:nth-of-type(2) {
                border-right: 1px solid white;
                display: flex;
                align-content: flex-start;
                gap: 1em;

                img {
                    width: 25px;
                    display: inline-block;
                }
            }

        }

    }
    
    section.standings_section.is_visible {
        display: flex;
        animation: slideIn 250ms forwards;
    }

    section.fixtures_section {
        color: #000;
        font-weight: bold;
        display: none;
        grid-template-columns: .1fr 1fr .1fr;
        grid-template-rows: .1fr 1fr;
        width: 100%;
        height: 780px;
        gap: .5em;
        opacity: 0;
        grid-template-areas: 
            "prevWeek weekNum nextWeek"
            "prevWeek fixtures nextWeek"
        ;
        transition: opacity 250ms, transform 250ms, visibility 250ms;

        

        div.weekHeadingContainer {
            grid-area: weekNum;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            background: $clr-accent2;
            letter-spacing: .1rem;
            font-family: 'Teko', sans-serif;
            a {
                text-decoration: none;
                border: 3px solid $clr-accent-dark;
                padding: .5em;
                background: transparent;
                color: $clr-text;
                &:hover {
                    cursor: pointer;
                    border: 3px solid #ff8191;
                    border-radius: 5px;
                }
            }
        }

        div.prevWeekNavCont, div.nextWeekNavCont {
            background: $clr-accent2;
            writing-mode: vertical-lr;
            text-orientation: upright;
            display: flex;
            place-content: center;
            align-items: center;
            cursor: pointer;
            @include uS();
            &:hover {
                opacity: .6;
                box-shadow: 3px 3px 3px $clr-accent-dark;
            }
        }
        
        div.prevWeekNavCont {
            grid-area: prevWeek;
        }

        div.nextWeekNavCont {
            grid-area: nextWeek;
        }

        div.fixtures {
            display: block;

            section.fixturesList  {
                display: none;
                grid-area: fixtures;
                transition: opacity 250ms, transform 250ms cubic-bezier(.33,.15,.55,.86);

                div {
                    background: $clr-accent2;
                    display: grid;
                    grid-template-columns: 1fr .2fr 1fr;
                    grid-template-rows: 1fr;
                    grid-template-areas: 
                        "homeTeam score awayTeam"
                        "additionalInfo additionalInfo additionalInfo"
                    ;

                    span, div {
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1em;
                        padding: 5px 0 5px 0;
                        flex-direction: row;
                        img {
                            width: 30px;
                            display: inline-block; 
                        }
                    }

                    span:nth-of-type(1) {
                        grid-area: homeTeam;
                        justify-content: flex-end;
                        margin-right: 1em;
                    }
                    span:nth-of-type(2) {
                        grid-area: score;
                        background: $clr-accent;
                    }
                    span:nth-of-type(3) {
                        grid-area: awayTeam;
                        justify-content: flex-start;
                        margin-left: 1em;
                    }
                    div {
                        grid-area: additionalInfo;
                        background: $clr-accent-dark;
                        font-size: small;
                        color: $clr-text;
                        pointer-events: none;
                    }
                }
                div:hover {
                    cursor: pointer;
                    opacity: .6;
                    box-shadow: 3px 3px 3px $clr-accent-dark;
                }
            }
            section.fixturesList.skipped {
                animation: reappear 250ms;
            }
              
            section.fixturesList.is_visible {
                display: block;
            }

            section.fixtureDataContainer {
                display: none;
                height: 100%;
                grid-template-rows: 10% 10% auto;
                grid-template-areas: 
                    "tabsContainer"
                    "header"
                    "main"
                ;
                gap: .5em;

                div.header {
                    grid-area: header;
                    height: 100%;
                    background: $clr-accent2;
                    display: grid;
                    grid-template-columns: 1fr .2fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    grid-template-areas:
                      "gameWeek gameWeek gameWeek" 
                      "homeTeam score awayTeam"
                   ;

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: .3em;
                    }
                    p.home {
                        grid-area: homeTeam;
                        justify-content: flex-end;
                        padding-right: 1em;
                    } 
                    p.score {
                        grid-area: score;
                        background: $clr-accent;
                    }
                    p.away {
                        grid-area: awayTeam;
                        justify-content: flex-start;
                        padding-left: 1em;
                    }
                    p.gameWeek {
                        grid-area: gameWeek;
                        background: $clr-accent-dark;
                        color: $clr-text;
                    }
                }
                div.tabsContainer {
                    grid-area: tabsContainer;
                    background: $clr-accent2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1em;
                    font-size: 1.2rem;
                    font-family: 'Teko', sans-serif;
                    a {
                        text-decoration: none;
                        border: 3px solid $clr-accent-dark;
                        padding: .2em .5em;
                        background: transparent;
                        color: $clr-text;
                        &:hover {
                                cursor: pointer;
                                border: 3px solid #ff8191;
                                border-radius: 5px;
                        }
                    }
                }
                div.main {
                    grid-area: main;
                    background: $clr-accent-dark;
                    padding: .5em;
                    font-size: 1em;
                    color: $clr-text;

                    [data-tab-content] {
                        display: none;
                        width: 100%;
                        height: 100%;
                        padding: .5em;
                    }

                    .active[data-tab-content] {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr;
                        grid-template-areas: 
                            "home away"
                            ;

                        section.homeLineups > div, section.awayLineups > div {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            gap: .5em;
                            padding: .2em; 
                        }
                        section {
                            display: flex;
                            align-items: center;
                            background: $clr-accent-dark;
                            color: #000;
                            gap: .5em;
                            padding: 1em;
                            &.home {
                                grid-area: home;
                                flex-direction: column;
                                border-right: 2px solid black;
                                div {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    flex-direction: row-reverse;
                                    gap: .5em;
                                }
                            }
                            &.away {
                                grid-area: away;
                                display: flex;
                                flex-direction: column;
                                border-left: 2px solid black;
                                div {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    flex-direction: row;
                                    gap: .5em;
                                }
                            } 
                        }
                    }

                    #matchStatsTab {
                        display: none;
                    }

                    #matchStatsTab.active[data-tab-content] {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;
                        color: #000;
                        div {
                            width: 27%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }
                }  
            }
            section.fixtureDataContainer.is_visible {
                display: grid;
            }

        }


    }

    section.fixtures_section.is_visible {
        display: grid;
        animation: slideIn 250ms forwards;
    }

    section.statistics_section {
        display: none;
        width: 1000px;
        height: 100%;
        gap: .2em;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: bold;
        transition: opacity 250ms, transform 250ms, visibility 250ms;

        div {
            background: $clr-accent2;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr repeat(4, .2fr);
            padding: .2em;

            span {
                text-align: center;
            }

            span:nth-of-type(1) {
                text-indent: 1em;
            }
        }

        div:first-child {
            background: $clr-accent-dark;
            font-size: .9em;
            color: #fff;
        }
    }

    section.statistics_section.is_visible {
        display: flex;
        animation: slideIn 250ms forwards;
    }

}



@keyframes slideIn {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
}

@keyframes highlight {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: .9;
      transform: scale(.9);
    }
  }

  @keyframes reappear {
    0% {
      opacity: .7;
      transform: translateY(2%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }