@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&display=swap');


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$clr-bg-primary: #264653;
$clr-bg-secondary-light: #e76f51;
$clr-text: #FDFFFC;
$clr-accent: #2a9d8f;
$clr-accent2: #e9c46a;
$clr-accent-dark: #f4a261;
$font: 'Teko', sans-serif;
$font-main: 'Titillium Web', sans-serif;
$font-size-md: 1em;
$font-size-lg: 1.3em;
$font-size-sm: 0.8em;

@mixin uS {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}


body {
    background: $clr-bg-primary;
    font-family: $font-main;
}

header {
    @include uS();
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    h1 {
        text-align: center;
    }
    nav {
        .tabs {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            color: $clr-text;
            font-family: $font;
            gap: 1em;
            cursor: pointer;
            a {
                text-decoration: none;
                border: 3px solid $clr-accent-dark;
                transition: 150ms border-radius ease-in;
                padding: .2em .5em;
                &:hover{
                    border: 3px dashed #ff8191;
                    border-radius: 10px;
                }
            }
        }
    }

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    h3 {
        float: right;
        font-size: small;
        a {
            cursor: pointer;
            color: $clr-text;
            &:hover {
                opacity: .9;
                color: $clr-accent;
            }
        }
    }
}

main {
    display: grid;
    place-items: center;
    padding: 2.5em 0;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    text-transform: uppercase;
    font-size: 1em;

    section.standings_section {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        font-weight: bold;
        
        div:first-child {
            background: $clr-accent-dark;
            font-size: .7em;
            text-align: center;
            color: $clr-text;
            span:first-child,
            span:nth-child(2) {
                border: none;
                text-align: center;
            }
        }

        div {
            display: grid;
            grid-template-columns: .2fr .8fr repeat(5, .2fr);
            width: 100%;
            color: #000;
            background: $clr-accent2;
            padding: .2em;
            border-bottom: 1px solid #fff;

            span {
                display: grid;
                place-items: center;
                font-size: .7em;
                &:first-of-type {
                    border-right: 1px solid white;
                }
                &:nth-child(2) {
                    border-right: 1px solid white;
                    display: flex;
                    justify-content: flex-start;
                    gap: 1em;
                    padding-left: 1em;
                }
                img {
                    width: 20px;
                    display: inline-block;
                }
            }
                
        }


    }
    
    section.standings_section.is_visible {
        display: flex;
        animation: slideIn 250ms forwards;
    }

    section.fixtures_section {
        font-weight: bold;
        display: none;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .05fr 1fr .08fr;
        width: 100%;
        gap: .5em;
        opacity: 0;
        font-size: .7em;
        grid-template-areas: 
            "weekNum weekNum"
            "fixtures fixtures"
            "prevWeek nextWeek"
        ;
        transition: opacity 250ms, transform 250ms, visibility 250ms;

        

        div.weekHeadingContainer {
            grid-area: weekNum;
            display: grid;
            place-items: center;
            background: $clr-accent2;
            font-family: $font;
            a {
                text-decoration: none;
                border: 3px solid $clr-accent-dark;
                padding: .5em;
                background: transparent;
                color: $clr-text;
                &:hover {
                    cursor: pointer;
                    border: 3px solid #ff8191;
                    border-radius: 5px;
                }
            }
        }

        div.prevWeekNavCont, div.nextWeekNavCont {
            background: $clr-accent2;
            display: grid;
            place-items: center;
            cursor: pointer;
            @include uS();
            &:hover {
                opacity: .6;
                box-shadow: 3px 3px 3px $clr-accent-dark;
            }
        }
        
        div.prevWeekNavCont {
            grid-area: prevWeek;
        }

        div.nextWeekNavCont {
            grid-area: nextWeek;
        }

        div.fixtures {
            grid-area: fixtures;
            display: block;
            height: 100%;
            width: 100%;

            section.fixturesList  {
                display: none;
                transition: opacity 250ms, transform 250ms cubic-bezier(.33,.15,.55,.86);

                div {
                    background: $clr-accent2;
                    display: grid;
                    grid-template-columns: 1fr .4fr 1fr;
                    grid-template-rows: 1fr .8fr;
                    grid-template-areas: 
                        "homeTeam score awayTeam"
                        "additionalInfo additionalInfo additionalInfo"
                    ;

                    span, div {
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1em;
                        font-size: 1em;
                        flex-direction: row;
                        img {
                            width: 20px;
                            display: inline-block; 
                        }
                    }

                    span:nth-of-type(1) {
                        grid-area: homeTeam;
                        justify-content: flex-end;
                        margin-right: 1em;
                        padding: .4em 0;
                    }
                    span:nth-of-type(2) {
                        grid-area: score;
                        background: $clr-accent;
                        padding: .4em 0;
                    }
                    span:nth-of-type(3) {
                        grid-area: awayTeam;
                        justify-content: flex-start;
                        margin-left: 1em;
                        padding: .4em 0;
                    }
                    div {
                        grid-area: additionalInfo;
                        background: $clr-accent-dark;
                        color: $clr-text;
                        pointer-events: none;
                        font-size: .8em;
                    }
                }
                div:hover {
                    cursor: pointer;
                    opacity: .6;
                    box-shadow: 3px 3px 3px $clr-accent-dark;
                }
            }
            section.fixturesList.skipped {
                animation: reappear 250ms;
            }
              
            section.fixturesList.is_visible {
                display: block;
            }

            section.fixtureDataContainer {
                display: none;
                height: 50vh;
                grid-template-rows: 10% 15% auto;
                grid-template-areas: 
                    "tabsContainer"
                    "header"
                    "main"
                ;
                gap: .5em;

                div.header {
                    width: 100%;
                    height: 100%;
                    font-size: 1em;
                    grid-area: header;
                    background: $clr-accent2;
                    display: grid;
                    grid-template-columns: 1fr .2fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    grid-template-areas:
                      "gameWeek gameWeek gameWeek" 
                      "homeTeam score awayTeam"
                   ;

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: .3em;
                    }
                    p.home {
                        grid-area: homeTeam;
                        justify-content: flex-end;
                        padding-right: 1em;
                    } 
                    p.score {
                        grid-area: score;
                        background: $clr-accent;
                    }
                    p.away {
                        grid-area: awayTeam;
                        justify-content: flex-start;
                        padding-left: 1em;
                    }
                    p.gameWeek {
                        grid-area: gameWeek;
                        background: $clr-accent-dark;
                        color: $clr-text;
                    }
                }
                div.tabsContainer {
                    grid-area: tabsContainer;
                    background: $clr-accent2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1em;
                    font-size: 1em;
                    font-family: 'Teko', sans-serif;
                    a {
                        text-decoration: none;
                        border: 3px solid $clr-accent-dark;
                        padding: .2em .5em;
                        background: transparent;
                        color: $clr-text;
                        &:hover {
                                cursor: pointer;
                                border: 3px solid #ff8191;
                                border-radius: 5px;
                        }
                    }
                }
                div.main {
                    grid-area: main;
                    background: $clr-accent2;
                    padding: .5em;
                    color: #000;
                    border: .5em solid $clr-accent-dark;

                    [data-tab-content] {
                        display: none;
                        width: 100%;
                        height: 100%;
                        font-size: .8em;
                    }

                    .active[data-tab-content] {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr;
                        grid-template-areas: 
                            "home away"
                        ;

                        section.homeLineups > div, section.awayLineups > div {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            gap: .5em;
                            padding: .2em; 
                        }
                        section {
                            display: flex;
                            align-items: center;
                            background: $clr-accent2;
                            gap: .2em;
                            padding: 1em;
                            &.home {
                                grid-area: home;
                                flex-direction: column;
                                border-right: 2px solid $clr-accent-dark;
                                div {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    flex-direction: row-reverse;
                                    gap: .5em;
                                    border-bottom: 3px solid $clr-accent-dark;
                                }
                            }
                            &.away {
                                grid-area: away;
                                display: flex;
                                flex-direction: column;
                                border-left: 2px solid $clr-accent-dark;
                                div {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    flex-direction: row;
                                    gap: .5em;
                                    border-bottom: 3px solid $clr-accent-dark;
                                }
                            } 
                        }
                    }

                    #matchStatsTab {
                        display: none;
                    }

                    #matchStatsTab.active[data-tab-content] {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;
                        gap: 1em;
                        padding: 1em;
                        div {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-direction: row;
                            gap: .5em;
                            border-bottom: 3px solid $clr-accent-dark;
                        }
                    }
                }  
            }
            section.fixtureDataContainer.is_visible {
                display: grid;
            }

        }


    }

    section.fixtures_section.is_visible {
        display: grid;
        animation: slideIn 250ms forwards;
    }

    section.statistics_section {
        display: none;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: bold;
        transition: opacity 250ms, transform 250ms, visibility 250ms;

        div {
            background: $clr-accent2;
            width: 100%;
            display: grid;
            grid-template-columns: .2fr 1fr repeat(4, .2fr);
            border-bottom: 1px solid #fff;
            place-items: center;
            padding: .2em;
            font-size: .7em;
            span {
                text-align: center;
            }

            span:nth-of-type(1) {
                display: grid;
                place-items: center;
                img {
                    width: 20px;
                    display: inline-block;
                }
            }
            span:nth-of-type(2) {
                justify-self: start;
                text-indent: 1em;
            }
        }

        div:first-child {
            background: $clr-accent-dark;
            font-size: .7em;
            color: #fff;
        }
    }

    section.statistics_section.is_visible {
        display: flex;
        animation: slideIn 250ms forwards;
    }

}

@keyframes slideIn {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
}

@keyframes highlight {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: .9;
      transform: scale(.9);
    }
  }

  @keyframes reappear {
    0% {
      opacity: .7;
      transform: translateY(2%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  @media (min-width: 641px) {
      .fixture_section .fixtures .fixturesList {
        div {
            background: $clr-accent2;
            display: grid;
            grid-template-columns: 1fr .2fr 1fr;
            grid-template-rows: 1fr .8fr;
            grid-template-areas: 
                "homeTeam score awayTeam"
                "additionalInfo additionalInfo additionalInfo"
            ;
        }
      }
  }