@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$clr-bg-primary: #1D1E2C;
$clr-bg-secondary-light: #59656F;
$clr-text: #fff;
$clr-accent: #F7EBEC;
$clr-accent2: #DDBDD5;
$clr-accent-dark: #322A3C;

body {
    width: 100%;
    height: 100vh;
    background: $clr-bg-primary;
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    display: grid;
    grid-template-rows: 10% 90%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    background: $clr-bg-primary;
    color: #000;
    font-size: 2em;

    h1 {
        margin-right: 3em;
        color: $clr-accent2;
        font-family: 'Teko', sans-serif;
        letter-spacing: .3em;
    }

    h3 {
        user-select: none;
    }

    nav {
        .tabs {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 3em;
            border-radius: 1rem;
            position: relative;
            color: $clr-accent2;
            font-family: 'Teko', sans-serif;
            a {
                text-decoration: none;
                box-shadow: -4px -4px 7px $clr-accent2,
                            2px 2px 5px $clr-accent2
                ;
                border-radius: 4px;
                padding: .5rem 1em;
                text-transform: uppercase;
            }
            a:hover {
                cursor: pointer;
                box-shadow: -2px -2px 5px $clr-accent2,
                            4px 4px 7px $clr-accent2,
                ;
                transform: scale(.9);
            }
        }
    }

}

main {
    display: flex;
    justify-content: center;
    align-content: center;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1300px;
    text-transform: uppercase;
    font-size: 1em;
    color: #000;

    section.standings_section {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        font-weight: bold;
        gap: .2em;
        
        .headings {
            background: $clr-accent-dark;
            font-size: .9em;
            text-align: center;
            color: $clr-text;
        }

        div {
            display: grid;
            grid-template-columns: .2fr 1fr .2fr .2fr .2fr .2fr .2fr;
            gap: 1em;
            width: 100%;
            color: #000;
            background: $clr-accent2;
            padding: .2em;

            span {
                text-align: center;
            }
            span:first-of-type {
                border-right: 1px solid white;
            }
            span:nth-of-type(2) {
                border-right: 1px solid white;
                display: flex;
                align-content: flex-start;
                gap: 1em;

                img {
                    width: 25px;
                    display: inline-block;
                }
            }

        }

    }
    
    section.standings_section.is_visible {
        display: flex;
        animation: slideIn 250ms forwards;
    }

    section.fixtures_section {
        color: #000;
        font-weight: bold;
        display: none;
        grid-template-columns: .1fr 1fr .1fr;
        grid-template-rows: .125fr 1fr;
        gap: 1em;
        width: 100%;
        height: 780px;
        opacity: 0;
        grid-template-areas: 
            "prevWeek weekNum nextWeek"
            "prevWeek fixtures nextWeek"
        ;
        transition: opacity 250ms, transform 250ms, visibility 250ms;

        div.weekHeadingContainer {
            grid-area: weekNum;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $clr-accent2;
            font-size: 1.5rem;
            
        }

        div.prevWeekNavCont, div.nextWeekNavCont {
            writing-mode: vertical-lr;
            text-orientation: upright;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background: $clr-accent2;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
        }
        
        div.prevWeekNavCont {
            grid-area: prevWeek;
        }

        div.nextWeekNavCont {
            grid-area: nextWeek;
        }

        div.nextWeekNavCont:hover, div.prevWeekNavCont:hover {
            background: $clr-accent-dark;
            color: $clr-text;
        }

        div.fixtures {
            display: block;

            section.fixturesList  {
                display: none;
                grid-area: fixtures;
                transition: opacity 250ms, transform 250ms cubic-bezier(.33,.15,.55,.86);

                div {
                    background: $clr-accent2;
                    display: grid;
                    grid-template-columns: 1fr .2fr 1fr;
                    grid-template-rows: 1fr;
                    grid-template-areas: 
                        "homeTeam score awayTeam"
                        "additionalInfo additionalInfo additionalInfo"
                    ;

                    span, div {
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 1em;
                        padding: 5px 0 5px 0;
                        flex-direction: row;
                        img {
                            width: 30px;
                            display: inline-block; 
                        }
                    }

                    span:nth-of-type(1) {
                        grid-area: homeTeam;
                        justify-content: flex-end;
                        margin-right: 1em;
                    }
                    span:nth-of-type(2) {
                        grid-area: score;
                        background: $clr-accent;
                    }
                    span:nth-of-type(3) {
                        grid-area: awayTeam;
                        justify-content: flex-start;
                        margin-left: 1em;
                    }
                    div {
                        grid-area: additionalInfo;
                        background: $clr-accent-dark;
                        font-size: small;
                        color: $clr-text;
                    }
                }
                div:hover {
                    cursor: pointer;
                    opacity: .8;
                    box-shadow: 3px 3px 3px $clr-bg-primary;
                }
            }
            section.fixturesList.skipped {
                animation: reappear 250ms;
            }
              
            section.fixturesList.is_visible {
                display: block;
            }

            section.fixtureDataContainer {
                display: none;

                div.header {
                    background: $clr-accent2;
                    display: grid;
                    grid-template-columns: 1fr .2fr 1fr;
                    grid-template-rows: 1fr;
                    grid-template-areas:
                      "gameWeek gameWeek gameWeek" 
                      "homeTeam score awayTeam"
                   ;

                   p {
                    display: flex;
                    padding: 5px 0 5px 0;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    gap: 1em;
                  }
                  p.home {
                    grid-area: homeTeam;
                    justify-content: flex-end;
                    margin-right: 1em;
                  } 
                  p.score {
                    grid-area: score;
                    background: $clr-accent;
                    display: flex;
                    font-size: 1.2rem;
                  }
                  p.away {
                    grid-area: awayTeam;
                    justify-content: flex-start;
                    margin-left: 1em;
                  }
                  p.gameWeek {
                    grid-area: gameWeek;
                    background: $clr-accent2;
                  }
                }
                div.tabsContainer {
                    background: $clr-accent-dark;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 2em;
                    padding: 1em 0;
                }
                div.main {
                    display: grid;
                    background: $clr-accent2;
                    padding: 1em;
                    height: 100%;

                    [data-tab-content] {
                    display: none;
                    }

                    .active[data-tab-content] {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;
                        gap: .2em;
                    }
                    article#timelineTab > div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: .5em;
                        width: 100%;
                    }
                }  
            }
            section.fixtureDataContainer.is_visible {
                display: grid;
                grid-template-rows: .1fr .07fr 1fr;
                height: 100%;
                gap: 1em;
            }

        }


    }

    section.fixtures_section.is_visible {
        display: grid;
        animation: slideIn 250ms forwards;
    }

    section.statistics_section {
        display: none;
        width: 1000px;
        height: 100%;
        gap: .2em;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: bold;
        transition: opacity 250ms, transform 250ms, visibility 250ms;

        div {
            background: $clr-accent2;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr .3fr .3fr;
            padding: .2em;

            span:nth-of-type(1) {
                text-indent: 1em;
            }
            span:nth-of-type(2), span:nth-of-type(3) {
                text-align: center;
            } 
        }

        div:first-child {
            background: $clr-accent-dark;
            font-size: .9em;
            color: #fff;
        }
    }

    section.statistics_section.is_visible {
        display: flex;
        animation: slideIn 250ms forwards;
    }

}



@keyframes slideIn {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
}

@keyframes highlight {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: .9;
      transform: scale(.9);
    }
  }

  @keyframes reappear {
    0% {
      opacity: .7;
      transform: translateY(2%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }