@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #264653;
  font-family: "Titillium Web", sans-serif;
}

header {
  -ms-user-select: none;
      user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

header h1 {
  text-align: center;
}

header nav .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #FDFFFC;
  font-family: "Teko", sans-serif;
  gap: 1em;
  cursor: pointer;
}

header nav .tabs a {
  text-decoration: none;
  border: 3px solid #f4a261;
  -webkit-transition: 150ms border-radius ease-in;
  transition: 150ms border-radius ease-in;
  padding: .2em .5em;
}

header nav .tabs a:hover {
  border: 3px dashed #ff8191;
  border-radius: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
}

footer h3 {
  float: right;
  font-size: small;
}

footer h3 a {
  cursor: pointer;
  color: #FDFFFC;
}

footer h3 a:hover {
  opacity: .9;
  color: #2a9d8f;
}

main {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 2.5em 0;
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  text-transform: uppercase;
  font-size: 1em;
}

.data section.standings_section {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-weight: bold;
}

.data section.standings_section div:first-child {
  background: #f4a261;
  font-size: .7em;
  text-align: center;
  color: #FDFFFC;
}

.data section.standings_section div:first-child span:first-child,
.data section.standings_section div:first-child span:nth-child(2) {
  border: none;
  text-align: center;
}

.data section.standings_section div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 0.8fr (0.15fr)[5];
      grid-template-columns: 0.2fr 0.8fr repeat(5, 0.15fr);
  width: 100%;
  color: #000;
  background: #e9c46a;
  padding: .2em;
  border-bottom: 1px solid #fff;
}

.data section.standings_section div span {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: .7em;
}

.data section.standings_section div span:first-of-type {
  border-right: 1px solid white;
}

.data section.standings_section div span:nth-child(2) {
  border-right: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1em;
  padding-left: .5em;
}

.data section.standings_section div span img {
  width: 20px;
  display: inline-block;
}

.data section.standings_section.is_visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slideIn 250ms forwards;
          animation: slideIn 250ms forwards;
}

.data section.fixtures_section {
  font-weight: bold;
  display: none;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: .05fr 1fr .08fr;
      grid-template-rows: .05fr 1fr .08fr;
  width: 100%;
  gap: .5em;
  opacity: 0;
  font-size: .7em;
      grid-template-areas: "weekNum weekNum" "fixtures fixtures" "prevWeek nextWeek";
  -webkit-transition: opacity 250ms, visibility 250ms, -webkit-transform 250ms;
  transition: opacity 250ms, visibility 250ms, -webkit-transform 250ms;
  transition: opacity 250ms, transform 250ms, visibility 250ms;
  transition: opacity 250ms, transform 250ms, visibility 250ms, -webkit-transform 250ms;
}

.data section.fixtures_section div.weekHeadingContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: weekNum;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #e9c46a;
  font-family: "Teko", sans-serif;
}

.data section.fixtures_section div.weekHeadingContainer a {
  text-decoration: none;
  border: 3px solid #f4a261;
  padding: .5em;
  background: transparent;
  color: #FDFFFC;
}

.data section.fixtures_section div.weekHeadingContainer a:hover {
  cursor: pointer;
  border: 3px solid #ff8191;
  border-radius: 5px;
}

.data section.fixtures_section div.prevWeekNavCont, .data section.fixtures_section div.nextWeekNavCont {
  background: #e9c46a;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  -ms-user-select: none;
      user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.data section.fixtures_section div.prevWeekNavCont:hover, .data section.fixtures_section div.nextWeekNavCont:hover {
  opacity: .6;
  -webkit-box-shadow: 3px 3px 3px #f4a261;
          box-shadow: 3px 3px 3px #f4a261;
}

.data section.fixtures_section div.prevWeekNavCont {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: prevWeek;
}

.data section.fixtures_section div.nextWeekNavCont {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: nextWeek;
}

.data section.fixtures_section div.fixtures {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: fixtures;
  display: block;
  height: 100%;
  width: 100%;
}

.data section.fixtures_section div.fixtures section.fixturesList {
  display: none;
  -webkit-transition: opacity 250ms, -webkit-transform 250ms cubic-bezier(0.33, 0.15, 0.55, 0.86);
  transition: opacity 250ms, -webkit-transform 250ms cubic-bezier(0.33, 0.15, 0.55, 0.86);
  transition: opacity 250ms, transform 250ms cubic-bezier(0.33, 0.15, 0.55, 0.86);
  transition: opacity 250ms, transform 250ms cubic-bezier(0.33, 0.15, 0.55, 0.86), -webkit-transform 250ms cubic-bezier(0.33, 0.15, 0.55, 0.86);
}

.data section.fixtures_section div.fixtures section.fixturesList div {
  background: #e9c46a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .4fr 1fr;
      grid-template-columns: 1fr .4fr 1fr;
  -ms-grid-rows: 1fr .8fr;
      grid-template-rows: 1fr .8fr;
      grid-template-areas: "homeTeam score awayTeam" "additionalInfo additionalInfo additionalInfo";
}

.data section.fixtures_section div.fixtures section.fixturesList div span, .data section.fixtures_section div.fixtures section.fixturesList div div {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5em;
  font-size: 1em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.data section.fixtures_section div.fixtures section.fixturesList div span img, .data section.fixtures_section div.fixtures section.fixturesList div div img {
  width: 20px;
  display: inline-block;
}

.data section.fixtures_section div.fixtures section.fixturesList div span:nth-of-type(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: homeTeam;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 1em;
  padding: .4em 0;
}

.data section.fixtures_section div.fixtures section.fixturesList div span:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: score;
  background: #2a9d8f;
  padding: .4em 0;
}

.data section.fixtures_section div.fixtures section.fixturesList div span:nth-of-type(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: awayTeam;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 1em;
  padding: .4em 0;
}

.data section.fixtures_section div.fixtures section.fixturesList div div {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: additionalInfo;
  background: #f4a261;
  color: #FDFFFC;
  pointer-events: none;
  font-size: .8em;
}

.data section.fixtures_section div.fixtures section.fixturesList div:hover {
  cursor: pointer;
  opacity: .6;
  -webkit-box-shadow: 3px 3px 3px #f4a261;
          box-shadow: 3px 3px 3px #f4a261;
}

.data section.fixtures_section div.fixtures section.fixturesList.skipped {
  -webkit-animation: reappear 250ms;
          animation: reappear 250ms;
}

.data section.fixtures_section div.fixtures section.fixturesList.is_visible {
  display: block;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer {
  display: none;
  height: 50vh;
  -ms-grid-rows: 10% 15% auto;
      grid-template-rows: 10% 15% auto;
      grid-template-areas: "tabsContainer" "header" "main";
  gap: .5em;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.header {
  width: 100%;
  height: 100%;
  font-size: 1em;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: header;
  background: #e9c46a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .2fr 1fr;
      grid-template-columns: 1fr .2fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "gameWeek gameWeek gameWeek"  "homeTeam score awayTeam";
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.header p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .3em;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.header p.home {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: homeTeam;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 1em;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.header p.score {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: score;
  background: #2a9d8f;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.header p.away {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: awayTeam;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 1em;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.header p.gameWeek {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: gameWeek;
  background: #f4a261;
  color: #FDFFFC;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.tabsContainer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tabsContainer;
  background: #e9c46a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  font-size: 1em;
  font-family: 'Teko', sans-serif;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.tabsContainer a {
  text-decoration: none;
  border: 3px solid #f4a261;
  padding: .2em .5em;
  background: transparent;
  color: #FDFFFC;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.tabsContainer a:hover {
  cursor: pointer;
  border: 3px solid #ff8191;
  border-radius: 5px;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  background: #e9c46a;
  padding: .5em;
  color: #000;
  border: 0.5em solid #f4a261;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.main [data-tab-content] {
  display: none;
  width: 100%;
  height: 100%;
  font-size: .8em;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.main .active[data-tab-content] {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "home away";
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.main .active[data-tab-content] section.homeLineups > div, .data section.fixtures_section div.fixtures section.fixtureDataContainer div.main .active[data-tab-content] section.awayLineups > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5em;
  padding: .2em;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.main .active[data-tab-content] section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e9c46a;
  gap: .2em;
  padding: 1em;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.main .active[data-tab-content] section.home {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: home;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 2px solid #f4a261;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.main .active[data-tab-content] section.home div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: .5em;
  border-bottom: 3px solid #f4a261;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.main .active[data-tab-content] section.away {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: away;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 2px solid #f4a261;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.main .active[data-tab-content] section.away div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: .5em;
  border-bottom: 3px solid #f4a261;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.main #matchStatsTab {
  display: none;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.main #matchStatsTab.active[data-tab-content] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer div.main #matchStatsTab.active[data-tab-content] div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: .5em;
  border-bottom: 3px solid #f4a261;
}

.data section.fixtures_section div.fixtures section.fixtureDataContainer.is_visible {
  display: -ms-grid;
  display: grid;
}

.data section.fixtures_section.is_visible {
  display: -ms-grid;
  display: grid;
  -webkit-animation: slideIn 250ms forwards;
          animation: slideIn 250ms forwards;
}

.data section.statistics_section {
  display: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  -webkit-transition: opacity 250ms, visibility 250ms, -webkit-transform 250ms;
  transition: opacity 250ms, visibility 250ms, -webkit-transform 250ms;
  transition: opacity 250ms, transform 250ms, visibility 250ms;
  transition: opacity 250ms, transform 250ms, visibility 250ms, -webkit-transform 250ms;
}

.data section.statistics_section div {
  background: #e9c46a;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 1fr (0.2fr)[4];
      grid-template-columns: 0.2fr 1fr repeat(4, 0.2fr);
  border-bottom: 1px solid #fff;
  place-items: center;
  padding: .2em;
  font-size: .7em;
}

.data section.statistics_section div span {
  text-align: center;
}

.data section.statistics_section div span:nth-of-type(1) {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.data section.statistics_section div span:nth-of-type(1) img {
  width: 20px;
  display: inline-block;
}

.data section.statistics_section div span:nth-of-type(2) {
  -ms-grid-column-align: start;
      justify-self: start;
  text-indent: 1em;
}

.data section.statistics_section div:first-child {
  background: #f4a261;
  font-size: .7em;
  color: #fff;
}

.data section.statistics_section.is_visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slideIn 250ms forwards;
          animation: slideIn 250ms forwards;
}

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes highlight {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: .9;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes highlight {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: .9;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes reappear {
  0% {
    opacity: .7;
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes reappear {
  0% {
    opacity: .7;
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (min-width: 641px) {
  .fixture_section .fixtures .fixturesList div {
    background: #e9c46a;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr .2fr 1fr;
        grid-template-columns: 1fr .2fr 1fr;
    -ms-grid-rows: 1fr .8fr;
        grid-template-rows: 1fr .8fr;
        grid-template-areas: "homeTeam score awayTeam" "additionalInfo additionalInfo additionalInfo";
  }
}
/*# sourceMappingURL=new_styles.css.map */